[submodule "backend"]
	path = backend
	url = https://github.com/tran-simon/inf3995-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/tran-simon/inf3995-frontend.git
[submodule "simulation"]
	path = simulation
	url = https://github.com/tran-simon/inf3995-simulation.git
[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/tran-simon/inf3995-crazyflie-firmware.git
